 

ALTER PROCEDURE [dbo].[Customers_Update]
    @Customer_id BIGINT ,
    @MAndopID BIGINT ,
    @customer_name VARCHAR(250) ,
    @address TEXT ,
    @phone VARCHAR(50) ,
    @fax VARCHAR(50) ,
    @mobile VARCHAR(50) ,
    @site VARCHAR(50) ,
    @scope VARCHAR(50) ,
    @ntes TEXT ,
    @user_id VARCHAR(50) ,
    @action_date DATE ,
    @TypeCode INT ,
    @Mcid BIGINT ,
    @CityID BIGINT ,
    @flag BIT ,
    @COMP_ID INT = 1 ,
    @ProunchID INT = 1 ,
    @custtime NVARCHAR(50) ,
    @custVacaiotn NVARCHAR(50) ,
    @Taxstate NVARCHAR(50) ,
    @paystate NVARCHAR(50) ,
    @waypay NVARCHAR(50) ,
    @custlevel NVARCHAR(50) ,
    @TahseelModa INT ,
    @Customer_Name_EN NVARCHAR(50) ,
    @Short_Name_Ar NVARCHAR(50) ,
    @Short_Name_EN NVARCHAR(50) ,
    @EmpSuperFizer INT ,
    @Limet_money FLOAT ,
    @Nationality NVARCHAR(50) ,
    @brth_date DATE ,
    @Discount_percent NVARCHAR(50) ,
    @TreeCode INT = 0 ,
    @TreeName NVARCHAR(100) = 0 ,
    @OperatorID INT = 1 ,
    @ID_Number BIGINT = 0 ,
    @ID_Date_End DATE ,
    @ID_From NVARCHAR(50) = ' ' ,
    @Mokadama BIGINT = 0 ,
    @Mokadama_Name NVARCHAR(100) = '' ,
    @Mo7tagazat BIGINT = 0 ,
    @Mo7tagazat_Name NVARCHAR(100) = '' ,
    @Dman BIGINT = 0 ,
    @Dman_Name NVARCHAR(100) = '',
	@IBAN_NO NVARCHAR(50),
	@BankName NVARCHAR(150)
AS
    UPDATE  [dbo].[customers]
    SET     [MAndopID] = @MAndopID ,
            [customer_name] = @customer_name ,
            [address] = @address ,
            [phone] = @phone ,
            [fax] = @fax ,
            [mobile] = @mobile ,
            [site] = @site ,
            [scope] = @scope ,
            [ntes] = @ntes ,
            [user_id] = @user_id ,
            [action_date] = @action_date ,
            [TypeCode] = @TypeCode ,
            [Mcid] = @Mcid ,
            [CityID] = @CityID ,
            [flag] = @flag ,
            [COMP_ID] = @COMP_ID ,
            [ProunchID] = @ProunchID ,
            [custtime] = @custtime ,
            [custVacaiotn] = @custVacaiotn ,
            [Taxstate] = @Taxstate ,
            [paystate] = @paystate ,
            [waypay] = @waypay ,
            [custlevel] = @custlevel ,
            [TahseelModa] = @TahseelModa ,
            [Customer_Name_EN] = @Customer_Name_EN ,
            [Short_Name_Ar] = @Short_Name_Ar ,
            [Short_Name_EN] = @Short_Name_EN ,
            [EmpSuperFizer] = @EmpSuperFizer ,
            [Limet_money] = @Limet_money ,
            [Nationality] = @Nationality ,
            [brth_date] = @brth_date ,
            [Discount_percent] = @Discount_percent ,
            [TreeCode] = @TreeCode ,
            [TreeName] = @TreeName ,
            [OperatorID] = @OperatorID ,
            [ID_Number] = @ID_Number ,
            [ID_Date_End] = @ID_Date_End ,
            [ID_From] = @ID_From ,
            Mokadama = @Mokadama ,
            Mokadama_Name = @Mokadama_Name ,
            Mo7tagazat = @Mo7tagazat ,
            Mo7tagazat_Name = @Mo7tagazat_Name ,
            Dman = @Dman ,
            Dman_Name = @Dman_Name,
 IBAN_NO= @IBAN_NO,

 BankName=@BankName

 




    WHERE   Customer_id = @Customer_id    

    
