USE [Falcon]
GO
/****** Object:  StoredProcedure [dbo].[Save_Journal]    Script Date: 3/12/2017 1:31:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
ALTER   PROCEDURE [dbo].[Save_Journal]
    @ID BIGINT ,
    @KaidID BIGINT ,
    @OstazID BIGINT ,
    @ProunchID INT ,
    @COMP_ID INT ,
    @UserName NVARCHAR(50) ,
    @aDate DATE ,
    @FinancialYear NVARCHAR(10) ,
    @CurID INT ,
    @DayName NVARCHAR(50) ,
    @Notes NVARCHAR(MAX) ,
    @JournalType JournalType READONLY ,
    @isUpdate INT = 0 ,
    @IsStartedBalance BIT = 0 ,
    @ErrorNumber INT OUTPUT ,
    @cmbKedName NVARCHAR(150) ,
    @ErrorMessage NVARCHAR(500) OUTPUT,
    @DocJorrnal BIGINT = 0,
    @OstasName NVARCHAR(50) = N'قيد يومية',
	@IsJournal INT = 0 ,
	@byan_No BIGINT = 0

AS
    BEGIN

	 
        BEGIN TRANSACTION;
        BEGIN TRY		



            IF @isUpdate = 1
                BEGIN 
                   
                    DELETE  FROM Box_Moves
                    WHERE   Journal = @ID
                    DELETE  FROM chartaccount
                    WHERE   Journal = @ID
                           
                    DELETE  FROM Emp_Account
                    WHERE   Journal = @ID
                           
                    DELETE  FROM customer_account
                    WHERE   Journal = @ID
                          
                    DELETE  FROM Bank_Accounts
                    WHERE   Journal = @ID
                           
                    DELETE  FROM venderaccount
                    WHERE   Journal = @ID
                        
                    DELETE  FROM El_Koyod_El_Yawmia
                    WHERE   ID = @ID

                    INSERT  INTO ManagerRep
                            ( FormName ,
                              AcionName ,
                              Data ,
                              UserName ,
                              ActionDate ,
                              ActonTime
                            )
                    VALUES  ( N'قيد يومية' ,
                              N'تعديل' ,
                              @ID ,
                              @UserName ,
                              GETDATE() ,
                              CONVERT(TIME, GETDATE())
                            )

                END
    


            IF @isUpdate = 0
                BEGIN
                    INSERT  INTO ManagerRep
                            ( FormName ,
                              AcionName ,
                              Data ,
                              UserName ,
                              ActionDate ,
                              ActonTime
                            )
                    VALUES  ( N'قيد يومية' ,
                              N'حفظ' ,
                              @ID ,
                              @UserName ,
                              GETDATE() ,
                              CONVERT(TIME, GETDATE())
                            )


                END



            INSERT  INTO [Box_Moves]
                    ( BoxID ,
                      accountcode ,
                      account_name ,
                      Account_info ,
                      aDate ,
                      Year ,
                      Price_Elwared ,
                      Price_ElMonsaref ,
                      monsarefCast ,
                      monsarefvender ,
                      monsarefchart ,
                      monsarefconstcenter ,
                      putinbank ,
                      Solafemp ,
                      MonyOnly ,
                      CostId ,
                      CurID ,
                      DocMonsaref_No ,
                      Taswya_Mony_ID ,
                      DayName ,
                      Journal ,
					  byan_No 
				
                    )
                    SELECT  Acccode2 ,
                            AccID ,
                            AccName2 ,
                            Detis ,
                            @aDate ,
                            @FinancialYear ,
                            Maden ,
                            Daen ,
                            0 ,
                            0 ,
                            1 ,
                            0 ,
                            0 ,
                            0 ,
                            0 ,
                            0 ,
                            @CurID ,
                            0 ,
                            @ID ,
                            @DayName ,
                            @ID	,
							@byan_No

                    FROM    @JournalType
                    WHERE   CaseID = 13


            INSERT  INTO Emp_Account
                    ( venderid ,
                      year ,
                      actionname ,
                      invno_ormony_id ,
                      movedate ,
                      maden ,
                      daen ,
                      Notes ,
                      CurID ,
                      TaswyaMasroof_ID ,
                      CaseID ,
                      CaseName ,
                      Journal ,
                      DocNo
                    )
                    SELECT  Acccode2 ,
                            @FinancialYear ,
                            @OstasName ,
                            @ID ,
                            @aDate ,
                            Maden ,
                            Daen ,
                            Detis ,
                            @CurID ,
                            @ID ,
                            CaseID ,
                            CaseName ,
                            @ID ,
                            DocNO
                    FROM    @JournalType
                    WHERE   CaseID = 15
                            OR CaseID = 16
                            OR CaseID = 17
							 OR CaseID = 18


            INSERT  INTO customer_account
                    ( venderid ,
                      year ,
                      actionname ,
                      invno_ormony_id ,
                      movedate ,
                      maden ,
                      daen ,
                      Notes ,
                      CurID ,
                      TaswyaMasroof_ID ,
                      CaseID ,
                      CaseName ,
                      Journal ,
                      DocNo
                    )
                    SELECT  Acccode2 ,
                            @FinancialYear ,
                            @OstasName ,
                            @byan_No ,
                            @aDate ,
                            Maden ,
                            Daen ,
                            Detis ,
                            @CurID ,
                            @ID ,
                            CaseID ,
                            CaseName ,
                            @ID ,
                            DocNO
                    FROM    @JournalType
                    WHERE   CaseID = 2
                            OR CaseID = 3
                            OR CaseID = 4
                            OR CaseID = 5



            INSERT  INTO Bank_Accounts
                    ( venderid ,
                      year ,
                      actionname ,
                      invno_ormony_id ,
                      movedate ,
                      maden ,
                      daen ,
                      Notes ,
                      CurID ,
                      TaswyaMasroof_ID ,
                      Journal ,
                      DocNo
                    )
                    SELECT  Acccode2 ,
                            @FinancialYear ,
                            @OstasName ,
                            @ID ,
                            @aDate ,
                            Maden ,
                            Daen ,
                            Detis ,
                            @CurID ,
                            @ID ,
                            @ID ,
                            DocNO
                    FROM    @JournalType
                    WHERE   CaseID = 12
                      



            INSERT  INTO venderaccount
                    ( venderid ,
                      year ,
                      actionname ,
                      invno_ormony_id ,
                      movedate ,
                      maden ,
                      daen ,
                      Notes ,
                      CurID ,
                      TaswyaMasroof_ID ,
                      CaseID ,
                      CaseName ,
                      Journal ,
                      DocNo
                    )
                    SELECT  Acccode2 ,
                            @FinancialYear ,
                            @OstasName ,
                            @ID ,
                            @aDate ,
                            Maden ,
                            Daen ,
                            Detis ,
                            @CurID ,
                            @ID ,
                            CaseID ,
                            CaseName ,
                            @ID ,
                            DocNO
                    FROM    @JournalType
                    WHERE   CaseID = 7
                            OR CaseID = 8
                            OR CaseID = 9
                            OR CaseID = 10




            INSERT  INTO [chartaccount]
                    ( venderid ,
                      year ,
                      actionname ,
                      invno_ormony_id ,
                      movedate ,
                      maden ,
                      daen ,
                      Notes ,
                      CurID ,
                      TaswyaMasroof_ID ,
                      Journal
                    )
                    SELECT  Acccode2 ,
                            @FinancialYear ,
                            @OstasName ,
                            @ID ,
                            @aDate ,
                            Maden ,
                            Daen ,
                            Detis ,
                            @CurID ,
                            @ID ,
                            @ID
                    FROM    @JournalType
                    WHERE   CaseID = 0




            INSERT  INTO El_Koyod_El_Yawmia
                    ( ID ,
                      KaidID ,
                      OstazID ,
                      Seyial ,
                      OstasName ,
                      Detis ,
                      AccID ,
                      AccName ,
                      Maden ,
                      Daen ,
                      aDate ,
                      trancename ,
                      Notes ,
                      ProunchID ,
                      COMP_ID ,
                      IsStartedBalance ,
                      costid ,
                      CurID ,
                      UserAA ,
                      year ,
                      DayName ,
                      CostTypeID ,
                      CostTypeName ,
                      Acccode2 ,
                      AccName2 ,
                      DocJorrnal ,
                      CaseID ,
                      CaseName ,
                      DocNO,
					  IsJournal

                    )
                    SELECT  @ID ,
                            @KaidID ,
                            @OstazID ,
                            Seyial ,
                            @OstasName ,
                            Detis ,
                            AccID ,
                            AccName ,
                            Maden ,
                            Daen ,
                            @aDate ,
                            @OstasName ,
                            @Notes ,
                            @ProunchID ,
                            @COMP_ID ,
                            @IsStartedBalance ,
                            costid ,
                            @CurID ,
                            @UserName ,
                            @FinancialYear ,
                            @DayName ,
                            CostTypeID ,
                            CostTypeName ,
                            Acccode2 ,
                            AccName2 ,
                            @DocJorrnal ,
                            CaseID ,
                            CaseName ,
                            DocNO,
							@IsJournal
                    FROM    @JournalType



            SET @ErrorMessage = 'Done '
            SET @ErrorNumber = 0
            COMMIT TRANSACTION  

        END TRY 

        BEGIN CATCH 

            SET @ErrorNumber = ERROR_NUMBER()    
            SET @ErrorMessage = ERROR_MESSAGE()  
            ROLLBACK TRANSACTION;

        END CATCH;
	
 
    END


