
update Falcon_Sitting SET  FLC = 0x4400610074006100200053006F0075007200630065003D0020003100380034002E003100360038002E003100390034002E00360032003B0049006E0069007400690061006C00200043006100740061006C006F0067003D0020006800610079007400680065006D007600690070005F00540053007500700070006F00720074004400620020003B005000650072007300690073007400200053006500630075007200690074007900200049006E0066006F003D0054007200750065003B0055007300650072002000490044003D002000540053007500700070006F0072007400440062007300610020003B00500061007300730077006F00720064003D002000460040006C0063006F006E0040007300730040003100320033003B0043006F006E006E0065006300740069006F006E002000540069006D0065006F00750074003D003500300030003000300020003B00

