
ALTER PROCEDURE [dbo].[Items_Update]
    @Item_Id BIGINT ,
    @itm_code2 NVARCHAR(50) ,
    @Barcode NVARCHAR(50) ,
    @itm_ismedicine INT ,
    @Item_Unit_Id INT ,
    @Item_unit2 INT ,
    @Item_unit3 INT ,
    @EqulUnit DECIMAL(18, 2) ,
    @EqulUnit2 DECIMAL(18, 2) ,
    @UnitEqualed NVARCHAR(50) ,
    @Item_Gro_Id INT ,
    @Item_Gro_Sub_Id INT ,
    @TradeTypeID INT ,
    @Item_Name NVARCHAR(max) ,
    @Item_Name_AR NVARCHAR(max) ,
    @itm_request_limit INT ,
    @MaxQ DECIMAL(18, 2) ,
    @MINQ DECIMAL(18, 2) ,
    @price FLOAT ,
    @gomla FLOAT ,
    @FixPrice BIT ,
    @Tax DECIMAL(18, 2) ,
    @HameshRebh DECIMAL(18, 2) ,
    @aNotes TEXT ,
    @actiondate DATE ,
    @UserName NVARCHAR(50) ,
    @flag BIT ,
    @ProunchID INT ,
    @COMP_ID INT ,
    @PriceFexed BIT ,
    @priceCome FLOAT ,
    @hgomla FLOAT ,
    @hmonaksat FLOAT ,
    @pricemonaksat FLOAT ,
    @hbig FLOAT ,
    @pricbig FLOAT ,
    @hmedum FLOAT ,
    @pricemedum FLOAT ,
    @hlow FLOAT ,
    @pricelow FLOAT ,
    @PartNo NVARCHAR(50) ,
    @DescountPercent FLOAT ,
    @PonasPercent FLOAT ,
    @com_id DECIMAL(18, 2) ,
    @itm_com_code NVARCHAR(20) ,
    @itm_has_expire INT ,
    @itm_active CHAR(1) ,
    @itm_freez INT ,
    @itm_scientific_n1 NVARCHAR(200) ,
    @itm_scientific_n2 NVARCHAR(200) ,
    @itm_scientific_group_id DECIMAL(18, 2) ,
    @itm_usage_manner_id DECIMAL(18, 2) ,
    @itm_itf_id DECIMAL(18, 2) ,
    @itm_stop_sell INT ,
    @itm_stop_pur INT ,
    @itm_print_barcode INT ,
    @itm_allow_discount INT ,
    @itm_max_disc_per FLOAT ,
    @itm_max_disc_val FLOAT ,
    @itm_print_name INT ,
    @itm_sales_avreage_period INT ,
    @itm_srvc INT ,
    @itm_origin INT ,
    @itm_isShortage INT ,
    @itm_favourite INT ,
    @itm_location DECIMAL(18, 2) ,
    @itm_default_limit DECIMAL(18, 2) ,
    @itm_purchase_unit DECIMAL(18, 2) ,
    @itm_sell_unit DECIMAL(18, 2) ,
    @itm_max_disc_value_NotUsed MONEY ,
    @StorePlace NVARCHAR(MAX) ,
    @Waigt DECIMAL(18, 2) ,
    @ChargDesc DECIMAL(18, 2) ,
    @GomrokDesc DECIMAL(18, 2) ,
    @GomrakFinshDesc DECIMAL(18, 2) ,
    @OtherDesc DECIMAL(18, 2) ,
    @OntherNameDesc NVARCHAR(50) ,
    @Shehada DECIMAL(18, 2) ,
    @OtherShehada DECIMAL(18, 2) ,
    @Boxcost DECIMAL(18, 2) = 0,
    @Tabkher DECIMAL(18, 2) = 0,
    @InernalCharg DECIMAL(18, 2) = 0,
    @Purchase DECIMAL(18, 2) = 0,
    @Width FLOAT = 0,
    @highet FLOAT = 0,
    @CountInBox FLOAT = 0,
    @Thikness FLOAT = 0,
	@IsOffer BIT 
AS
    IF NOT EXISTS ( SELECT  Item_Id
                    FROM    dbo.Item_Card
                    WHERE   Item_Id = @Item_Id
                    UNION
                    SELECT  itemid
                    FROM    dbo.byan_item
                    WHERE   itemid = @Item_Id
                    UNION
                    SELECT  itemid
                    FROM    dbo.invoiceoutitem
                    WHERE   itemid = @Item_Id
                    UNION
                    SELECT  itemid
                    FROM    dbo.invcomeitemNoTax
                    WHERE   itemid = @Item_Id
                    UNION
                    SELECT  itemid
                    FROM    dbo.invcomeitem
                    WHERE   itemid = @Item_Id )
        UPDATE  [dbo].[Items]
        SET     [itm_code2] = @itm_code2 ,
                [Barcode] = @Barcode ,
                [itm_ismedicine] = @itm_ismedicine ,
                [Item_Unit_Id] = @Item_Unit_Id ,
                [Item_unit2] = @Item_unit2 ,
                [Item_unit3] = @Item_unit3 ,
                [EqulUnit] = @EqulUnit ,
                [EqulUnit2] = @EqulUnit2 ,
                [UnitEqualed] = @UnitEqualed ,
                [Item_Gro_Id] = @Item_Gro_Id ,
                [Item_Gro_Sub_Id] = @Item_Gro_Sub_Id ,
                [TradeTypeID] = @TradeTypeID ,
                [Item_Name] = @Item_Name ,
                [Item_Name_AR] = @Item_Name_AR ,
                [itm_request_limit] = @itm_request_limit ,
                [MaxQ] = @MaxQ ,
                [MINQ] = @MINQ ,
                [price] = @price ,
                [gomla] = @gomla ,
                [FixPrice] = @FixPrice ,
                [Tax] = @Tax ,
                [HameshRebh] = @HameshRebh ,
                [aNotes] = @aNotes ,
                [actiondate] = @actiondate ,
                [UserName] = @UserName ,
                [flag] = @flag ,
                [ProunchID] = @ProunchID ,
                [COMP_ID] = @COMP_ID ,
                [PriceFexed] = @PriceFexed ,
                [priceCome] = @priceCome ,
                [hgomla] = @hgomla ,
                [hmonaksat] = @hmonaksat ,
                [pricemonaksat] = @pricemonaksat ,
                [hbig] = @hbig ,
                [pricbig] = @pricbig ,
                [hmedum] = @hmedum ,
                [pricemedum] = @pricemedum ,
                [hlow] = @hlow ,
                [pricelow] = @pricelow ,
                [PartNo] = @PartNo ,
                [DescountPercent] = @DescountPercent ,
                [PonasPercent] = @PonasPercent ,
                [com_id] = @com_id ,
                [itm_com_code] = @itm_com_code ,
                [itm_has_expire] = @itm_has_expire ,
                [itm_active] = @itm_active ,
                [itm_freez] = @itm_freez ,
                [itm_scientific_n1] = @itm_scientific_n1 ,
                [itm_scientific_n2] = @itm_scientific_n2 ,
                [itm_scientific_group_id] = @itm_scientific_group_id ,
                [itm_usage_manner_id] = @itm_usage_manner_id ,
                [itm_itf_id] = @itm_itf_id ,
                [itm_stop_sell] = @itm_stop_sell ,
                [itm_stop_pur] = @itm_stop_pur ,
                [itm_print_barcode] = @itm_print_barcode ,
                [itm_allow_discount] = @itm_allow_discount ,
                [itm_max_disc_per] = @itm_max_disc_per ,
                [itm_max_disc_val] = @itm_max_disc_val ,
                [itm_print_name] = @itm_print_name ,
                [itm_sales_avreage_period] = @itm_sales_avreage_period ,
                [itm_srvc] = @itm_srvc ,
                [itm_origin] = @itm_origin ,
                [itm_isShortage] = @itm_isShortage ,
                [itm_favourite] = @itm_favourite ,
                [itm_location] = @itm_location ,
                [itm_default_limit] = @itm_default_limit ,
                [itm_purchase_unit] = @itm_purchase_unit ,
                [itm_sell_unit] = @itm_sell_unit ,
                [itm_max_disc_value_NotUsed] = @itm_max_disc_value_NotUsed ,
                [StorePlace] = @StorePlace ,
                [Waigt] = @Waigt ,
                [ChargDesc] = @ChargDesc ,
                [GomrokDesc] = @GomrokDesc ,
                [GomrakFinshDesc] = @GomrakFinshDesc ,
                [OtherDesc] = @OtherDesc ,
                [OntherNameDesc] = @OntherNameDesc ,
                [Shehada] = @Shehada ,
                [OtherShehada] = @OtherShehada ,
                [Boxcost] = @Boxcost ,
                [Tabkher] = @Tabkher ,
                [InernalCharg] = @InernalCharg ,
                [Purchase] = @Purchase ,
                [Width] = @Width ,
                [highet] = @highet ,
                CountInBox = @CountInBox ,
                Thikness = @Thikness,
				IsOffer = @IsOffer
        WHERE   [Item_Id] = @Item_Id 

    ELSE
        UPDATE  [dbo].[Items]
        SET     [itm_code2] = @itm_code2 ,
                [Barcode] = @Barcode ,
                [itm_ismedicine] = @itm_ismedicine ,
                [Item_Gro_Id] = @Item_Gro_Id ,
                [Item_Gro_Sub_Id] = @Item_Gro_Sub_Id ,
                [TradeTypeID] = @TradeTypeID ,
                [Item_Name] = @Item_Name ,
                [Item_Name_AR] = @Item_Name_AR ,
                [itm_request_limit] = @itm_request_limit ,
                [MaxQ] = @MaxQ ,
                [MINQ] = @MINQ ,
                [price] = @price ,
                [gomla] = @gomla ,
                [FixPrice] = @FixPrice ,
                [Tax] = @Tax ,
                [HameshRebh] = @HameshRebh ,
                [aNotes] = @aNotes ,
                [actiondate] = @actiondate ,
                [UserName] = @UserName ,
                [flag] = @flag ,
                [ProunchID] = @ProunchID ,
                [COMP_ID] = @COMP_ID ,
                [PriceFexed] = @PriceFexed ,
                [priceCome] = @priceCome ,
                [hgomla] = @hgomla ,
                [hmonaksat] = @hmonaksat ,
                [pricemonaksat] = @pricemonaksat ,
                [hbig] = @hbig ,
                [pricbig] = @pricbig ,
                [hmedum] = @hmedum ,
                [pricemedum] = @pricemedum ,
                [hlow] = @hlow ,
                [pricelow] = @pricelow ,
                [PartNo] = @PartNo ,
                [DescountPercent] = @DescountPercent ,
                [PonasPercent] = @PonasPercent ,
                [com_id] = @com_id ,
                [itm_com_code] = @itm_com_code ,
                [itm_has_expire] = @itm_has_expire ,
                [itm_active] = @itm_active ,
                [itm_freez] = @itm_freez ,
                [itm_scientific_n1] = @itm_scientific_n1 ,
                [itm_scientific_n2] = @itm_scientific_n2 ,
                [itm_scientific_group_id] = @itm_scientific_group_id ,
                [itm_usage_manner_id] = @itm_usage_manner_id ,
                [itm_itf_id] = @itm_itf_id ,
                [itm_stop_sell] = @itm_stop_sell ,
                [itm_stop_pur] = @itm_stop_pur ,
                [itm_print_barcode] = @itm_print_barcode ,
                [itm_allow_discount] = @itm_allow_discount ,
                [itm_max_disc_per] = @itm_max_disc_per ,
                [itm_max_disc_val] = @itm_max_disc_val ,
                [itm_print_name] = @itm_print_name ,
                [itm_sales_avreage_period] = @itm_sales_avreage_period ,
                [itm_srvc] = @itm_srvc ,
                [itm_origin] = @itm_origin ,
                [itm_isShortage] = @itm_isShortage ,
                [itm_favourite] = @itm_favourite ,
                [itm_location] = @itm_location ,
                [itm_default_limit] = @itm_default_limit ,
                [itm_purchase_unit] = @itm_purchase_unit ,
                [itm_sell_unit] = @itm_sell_unit ,
                [itm_max_disc_value_NotUsed] = @itm_max_disc_value_NotUsed ,
                [StorePlace] = @StorePlace ,
                [Waigt] = @Waigt ,
                [ChargDesc] = @ChargDesc ,
                [GomrokDesc] = @GomrokDesc ,
                [GomrakFinshDesc] = @GomrakFinshDesc ,
                [OtherDesc] = @OtherDesc ,
                [OntherNameDesc] = @OntherNameDesc ,
                [Shehada] = @Shehada ,
                [OtherShehada] = @OtherShehada ,
                [Boxcost] = @Boxcost ,
                [Tabkher] = @Tabkher ,
                [InernalCharg] = @InernalCharg ,
                [Purchase] = @Purchase ,
                [Width] = @Width ,
                [highet] = @highet ,
                CountInBox = @CountInBox ,
                Thikness = @Thikness
				,
				IsOffer = @IsOffer
        WHERE   [Item_Id] = @Item_Id 
	 
            

    
       
       