 

ALTER PROCEDURE [dbo].[Items_Add]
    @Item_Id BIGINT ,
    @itm_code2 NVARCHAR(50) ,
    @Barcode NVARCHAR(50) ,
    @itm_ismedicine INT ,
    @Item_Unit_Id INT ,
    @Item_unit2 INT ,
    @Item_unit3 INT ,
    @EqulUnit DECIMAL(18, 2) ,
    @EqulUnit2 DECIMAL(18, 2) ,
    @UnitEqualed NVARCHAR(50) ,
    @Item_Gro_Id INT ,
    @Item_Gro_Sub_Id INT ,
    @TradeTypeID INT ,
    @Item_Name NVARCHAR(MAX) ,
    @Item_Name_AR NVARCHAR(MAX) ,
    @itm_request_limit INT ,
    @MaxQ DECIMAL(18, 2) ,
    @MINQ DECIMAL(18, 2) ,
    @price FLOAT ,
    @gomla FLOAT ,
    @FixPrice BIT ,
    @Tax DECIMAL(18, 2) ,
    @HameshRebh DECIMAL(18, 2) ,
    @aNotes TEXT ,
    @actiondate DATE ,
    @UserName NVARCHAR(50) ,
    @flag BIT ,
    @ProunchID INT ,
    @COMP_ID INT ,
    @PriceFexed BIT ,
    @priceCome FLOAT ,
    @hgomla FLOAT ,
    @hmonaksat FLOAT ,
    @pricemonaksat FLOAT ,
    @hbig FLOAT ,
    @pricbig FLOAT ,
    @hmedum FLOAT ,
    @pricemedum FLOAT ,
    @hlow FLOAT ,
    @pricelow FLOAT ,
    @PartNo NVARCHAR(50) ,
    @DescountPercent FLOAT ,
    @PonasPercent FLOAT ,
    @com_id DECIMAL(18, 2) ,
    @itm_com_code NVARCHAR(20) ,
    @itm_has_expire INT ,
    @itm_active CHAR(1) ,
    @itm_freez INT ,
    @itm_scientific_n1 NVARCHAR(200) ,
    @itm_scientific_n2 NVARCHAR(200) ,
    @itm_scientific_group_id DECIMAL(18, 2) ,
    @itm_usage_manner_id DECIMAL(18, 2) ,
    @itm_isprev INT ,
    @itm_itf_id DECIMAL(18, 2) ,
    @itm_stop_sell INT ,
    @itm_stop_pur INT ,
    @itm_print_barcode INT ,
    @itm_allow_discount INT ,
    @itm_max_disc_per FLOAT ,
    @itm_max_disc_val FLOAT ,
    @itm_print_name INT ,
    @itm_sales_avreage_period INT ,
    @itm_srvc INT ,
    @itm_origin INT ,
    @itm_isShortage INT ,
    @itm_favourite INT ,
    @itm_location DECIMAL(18, 2) ,
    @itm_default_limit DECIMAL(18, 2) ,
    @itm_purchase_unit DECIMAL(18, 2) ,
    @itm_sell_unit DECIMAL(18, 2) ,
    @itm_max_disc_value_NotUsed MONEY ,
    @StorePlace NVARCHAR(MAX) ,
    @Waigt DECIMAL(18, 2) ,
    @ChargDesc DECIMAL(18, 2) ,
    @GomrokDesc DECIMAL(18, 2) ,
    @GomrakFinshDesc DECIMAL(18, 2) ,
    @OtherDesc DECIMAL(18, 2) ,
    @OntherNameDesc NVARCHAR(50) ,
    @Shehada DECIMAL(18, 2) ,
    @OtherShehada DECIMAL(18, 2) ,
    @Boxcost DECIMAL(18, 2) = 0 ,
    @Tabkher DECIMAL(18, 2) = 0 ,
    @InernalCharg DECIMAL(18, 2) = 0 ,
    @Purchase DECIMAL(18, 2) = 0,
    @Width FLOAT = 0,
    @highet FLOAT = 0,
    @CountInBox FLOAT = 0,
    @Thikness FLOAT = 0
AS
    INSERT  INTO [dbo].[Items]
            ( [Item_Id] ,
              [itm_code2] ,
              [Barcode] ,
              [itm_ismedicine] ,
              [Item_Unit_Id] ,
              [Item_unit2] ,
              [Item_unit3] ,
              [EqulUnit] ,
              [EqulUnit2] ,
              [UnitEqualed] ,
              [Item_Gro_Id] ,
              [Item_Gro_Sub_Id] ,
              [TradeTypeID] ,
              [Item_Name] ,
              [Item_Name_AR] ,
              [itm_request_limit] ,
              [MaxQ] ,
              [MINQ] ,
              [price] ,
              [gomla] ,
              [FixPrice] ,
              [Tax] ,
              [HameshRebh] ,
              [aNotes] ,
              [actiondate] ,
              [UserName] ,
              [flag] ,
              [ProunchID] ,
              [COMP_ID] ,
              [PriceFexed] ,
              [priceCome] ,
              [hgomla] ,
              [hmonaksat] ,
              [pricemonaksat] ,
              [hbig] ,
              [pricbig] ,
              [hmedum] ,
              [pricemedum] ,
              [hlow] ,
              [pricelow] ,
              [PartNo] ,
              [DescountPercent] ,
              [PonasPercent] ,
              [com_id] ,
              [itm_com_code] ,
              [itm_has_expire] ,
              [itm_active] ,
              [itm_freez] ,
              [itm_scientific_n1] ,
              [itm_scientific_n2] ,
              [itm_scientific_group_id] ,
              [itm_usage_manner_id] ,
              [itm_isprev] ,
              [itm_itf_id] ,
              [itm_stop_sell] ,
              [itm_stop_pur] ,
              [itm_print_barcode] ,
              [itm_allow_discount] ,
              [itm_max_disc_per] ,
              [itm_max_disc_val] ,
              [itm_print_name] ,
              [itm_sales_avreage_period] ,
              [itm_srvc] ,
              [itm_origin] ,
              [itm_isShortage] ,
              [itm_favourite] ,
              [itm_location] ,
              [itm_default_limit] ,
              [itm_purchase_unit] ,
              [itm_sell_unit] ,
              [itm_max_disc_value_NotUsed] ,
              [StorePlace] ,
              [Waigt] ,
              [ChargDesc] ,
              [GomrokDesc] ,
              [GomrakFinshDesc] ,
              [OtherDesc] ,
              [OntherNameDesc] ,
              [Shehada] ,
              [OtherShehada] ,
              [Boxcost] ,
              [Tabkher] ,
              [InernalCharg] ,
              [Purchase] ,
              [Width] ,
              [highet] ,
              CountInBox ,
              Thikness  
            )
    VALUES  ( @Item_Id ,
              @itm_code2 ,
              @Barcode ,
              @itm_ismedicine ,
              @Item_Unit_Id ,
              @Item_unit2 ,
              @Item_unit3 ,
              @EqulUnit ,
              @EqulUnit2 ,
              @UnitEqualed ,
              @Item_Gro_Id ,
              @Item_Gro_Sub_Id ,
              @TradeTypeID ,
              @Item_Name ,
              @Item_Name_AR ,
              @itm_request_limit ,
              @MaxQ ,
              @MINQ ,
              @price ,
              @gomla ,
              @FixPrice ,
              @Tax ,
              @HameshRebh ,
              @aNotes ,
              @actiondate ,
              @UserName ,
              @flag ,
              @ProunchID ,
              @COMP_ID ,
              @PriceFexed ,
              @priceCome ,
              @hgomla ,
              @hmonaksat ,
              @pricemonaksat ,
              @hbig ,
              @pricbig ,
              @hmedum ,
              @pricemedum ,
              @hlow ,
              @pricelow ,
              @PartNo ,
              @DescountPercent ,
              @PonasPercent ,
              @com_id ,
              @itm_com_code ,
              @itm_has_expire ,
              @itm_active ,
              @itm_freez ,
              @itm_scientific_n1 ,
              @itm_scientific_n2 ,
              @itm_scientific_group_id ,
              @itm_usage_manner_id ,
              @itm_isprev ,
              @itm_itf_id ,
              @itm_stop_sell ,
              @itm_stop_pur ,
              @itm_print_barcode ,
              @itm_allow_discount ,
              @itm_max_disc_per ,
              @itm_max_disc_val ,
              @itm_print_name ,
              @itm_sales_avreage_period ,
              @itm_srvc ,
              @itm_origin ,
              @itm_isShortage ,
              @itm_favourite ,
              @itm_location ,
              @itm_default_limit ,
              @itm_purchase_unit ,
              @itm_sell_unit ,
              @itm_max_disc_value_NotUsed ,
              @StorePlace ,
              @Waigt ,
              @ChargDesc ,
              @GomrokDesc ,
              @GomrakFinshDesc ,
              @OtherDesc ,
              @OntherNameDesc ,
              @Shehada ,
              @OtherShehada ,
              @Boxcost ,
              @Tabkher ,
              @InernalCharg ,
              @Purchase ,
              @Width ,
              @highet ,
              @CountInBox ,
              @Thikness  
       
            )
