

ALTER PROCEDURE [dbo].[venderaccount_Add]
    @venderid BIGINT ,
    @year VARCHAR(50) ,
    @actionname VARCHAR(50) ,
    @invno_ormony_id BIGINT ,
    @movedate DATE ,
    @maden FLOAT = 0 ,
    @daen FLOAT = 0,
    @ProunchID INT ,
    @COMP_ID INT ,
    @Notes TEXT ,
    @Invcomno BIGINT ,
    @Taxes DECIMAL(18, 2) = NULL ,
    @Stamps DECIMAL(18, 2) = NULL ,
    @Others DECIMAL(18, 2) = NULL ,
    @ChekNet DECIMAL(18, 2) = NULL ,
    @CurID INT = 1 ,
    @DayName NVARCHAR(50) = NULL ,
    @MasrofaaaatID INT = NULL ,
    @MakbodaaaaatID INT = NULL ,
    @MakbodatID_Bank INT = NULL ,
    @MasrofaaaatID_Bank INT = NULL ,
    @Inv_com_ID INT = NULL ,
    @Inv_com_noTax_ID INT = NULL ,
    @Mardodat_Inv_Com_Id INT = NULL ,
    @Mardodat_Inv_Com_Nottax_ID INT = NULL ,
    @BoxMovID INT = NULL ,
    @Awrak_Daf3 INT = NULL ,
    @Awrak_kabd INT = NULL ,
    @EasweyaID INT = NULL ,
    @Esh3arID INT = NULL ,
    @Tasweyat_BankID INT = NULL ,
    @FristBalance INT = NULL,
	@Journal BIGINT = 0,
	@CaseID INT = 7

AS
    BEGIN
	
        INSERT  INTO [dbo].[venderaccount]
                ( [venderid] ,
                  [year] ,
                  [actionname] ,
                  [invno_ormony_id] ,
                  [movedate] ,
                  [maden] ,
                  [daen] ,
                  [ProunchID] ,
                  [COMP_ID] ,
                  [Notes] ,
                  [Invcomno] ,
                  [Taxes] ,
                  [Stamps] ,
                  [Others] ,
                  [ChekNet] ,
                  [CurID] ,
                  [DayName] ,
                  [MasrofaaaatID] ,
                  [MakbodaaaaatID] ,
                  [MakbodatID_Bank] ,
                  [MasrofaaaatID_Bank] ,
                  [Inv_com_ID] ,
                  [Inv_com_noTax_ID] ,
                  [Mardodat_Inv_Com_Id] ,
                  [Mardodat_Inv_Com_Nottax_ID] ,
                  [BoxMovID] ,
                  [Awrak_Daf3] ,
                  [Awrak_kabd] ,
                  [EasweyaID] ,
                  [Esh3arID] ,
                  [Tasweyat_BankID] ,
                  [FristBalance],[Journal],[CaseID]
		   
		        )
        VALUES  ( @venderid ,
                  @year ,
                  @actionname ,
                  @invno_ormony_id ,
                  @movedate ,
                  @maden ,
                  @daen ,
                  @ProunchID ,
                  @COMP_ID ,
                  @Notes ,
                  @Invcomno ,
                  @Taxes ,
                  @Stamps ,
                  @Others ,
                  @ChekNet ,
                  @CurID ,
                  @DayName ,
                  @MasrofaaaatID ,
                  @MakbodaaaaatID ,
                  @MakbodatID_Bank ,
                  @MasrofaaaatID_Bank ,
                  @Inv_com_ID ,
                  @Inv_com_noTax_ID ,
                  @Mardodat_Inv_Com_Id ,
                  @Mardodat_Inv_Com_Nottax_ID ,
                  @BoxMovID ,
                  @Awrak_Daf3 ,
                  @Awrak_kabd ,
                  @EasweyaID ,
                  @Esh3arID ,
                  @Tasweyat_BankID ,
                  @FristBalance,@Journal,@CaseID

		   
		        )



    END
