

ALTER PROCEDURE [dbo].[SP_InsertUpdateShipingBill]
    @ShipingID BIGINT ,
    @Shiping_Bill_Date DATE ,
    @Expected_date_arrival DATE ,
    @Actual_arrival_date DATE ,
    @Shipping_date DATE ,
    @ShippingPortID BIGINT ,
    @Place_Shipping NVARCHAR(50) ,
    @DeliveryNO NVARCHAR(50) ,
    @Delivery_Date DATE ,
    @Customs_Declaration NVARCHAR(50) ,
    @CustomsDeclarationdate DATE ,
    @Numberportservices NVARCHAR(50) ,
    @DateServives DATE ,
    @Guarantee_check NVARCHAR(50) ,
    @Insurance NVARCHAR(50) ,
    @Customs_Duties float ,
    @DateofPayment DATE ,
    @ContainerType NCHAR(10) ,
    @ContainerKind NVARCHAR(30) ,
    @Container_Size NVARCHAR(20) ,
    @Other_Truck_note NVARCHAR(50) ,
    @Quantity INT ,
    @Exemption float ,
    @Storage_Fees float ,
    @Shipping_Cost float,
    @Wages_discharge float ,
    @Bill BIT ,
    @Certificate_Origin BIT ,
    @Health_Certificate BIT ,
    @SpecificationList BIT ,
    @Other BIT ,
    @Othernote NVARCHAR(50) ,
    @BillNumber NVARCHAR(20) ,
    @CustomsBondNo NVARCHAR(10) ,
    @BillDate DATE ,
    @Amount DECIMAL(18, 2) ,
    @NoticeNumber NVARCHAR(20) ,
    @NoticeDate DATE ,
    @ExpirationPaymentDate DATE ,
    @Exportingcompany NVARCHAR(50) ,
    @General_Notes NVARCHAR(MAX) ,
    @Transport_OrderID BIGINT ,
    @ShiperName NVARCHAR(150) ,
    @ShiperID BIGINT ,
    @ConsigneeName NVARCHAR(150) ,
    @ConsigneeAddress NVARCHAR(250) ,
    @ConsigneeID_Iqama NVARCHAR(50) ,
    @ConsigneeCity NVARCHAR(50) ,
    @ConsigneePhone NVARCHAR(50) ,
    @ConsigneeID BIGINT ,
    @BillShiper BIT ,
    @Express BIT ,
    @BillConSiqner BIT ,
    @InsuranceService BIT ,
    @Note TEXT ,
    @ReceiptNo NVARCHAR(20) ,
    @ReceverName2 NVARCHAR(250) ,
    @ReceverAdd2 NVARCHAR(250) ,
    @ReceverPhone2 NVARCHAR(250) ,
    @VesselNO NVARCHAR(250)	,
	@Bill_of_Lading NVARCHAR(50)   ,
	@export bit	  ,
	@import bit

AS
    SET NOCOUNT ON;

    IF EXISTS ( SELECT  [ShipingID]
                FROM    [dbo].[ShipingBill]
                WHERE   [ShipingID] = @ShipingID )
        BEGIN
            UPDATE  [dbo].[ShipingBill]
            SET     [Shiping_Bill_Date] = @Shiping_Bill_Date ,
                    [Expected_date_arrival] = @Expected_date_arrival ,
                    [Actual_arrival_date] = @Actual_arrival_date ,
                    [Shipping_date] = @Shipping_date ,
                    [ShippingPortID] = @ShippingPortID ,
                    [Place_Shipping] = @Place_Shipping ,
                    [DeliveryNO] = @DeliveryNO ,
                    [Delivery_Date] = @Delivery_Date ,
                    [Customs_Declaration] = @Customs_Declaration ,
                    [CustomsDeclarationdate] = @CustomsDeclarationdate ,
                    [Numberportservices] = @Numberportservices ,
                    [DateServives] = @DateServives ,
                    [Guarantee_check] = @Guarantee_check ,
                    [Insurance] = @Insurance ,
                    [Customs_Duties] = @Customs_Duties ,
                    [DateofPayment] = @DateofPayment ,
                    [ContainerType] = @ContainerType ,
                    [ContainerKind] = @ContainerKind ,
                    [Container_Size] = @Container_Size ,
                    [Other_Truck_note] = @Other_Truck_note ,
                    [Quantity] = @Quantity ,
                    [Exemption] = @Exemption ,
                    [Storage_Fees] = @Storage_Fees ,
                    [Shipping_Cost] = @Shipping_Cost ,
                    [Wages_discharge] = @Wages_discharge ,
                    [Bill] = @Bill ,
                    [Certificate_Origin] = @Certificate_Origin ,
                    [Health_Certificate] = @Health_Certificate ,
                    [SpecificationList] = @SpecificationList ,
                    [Other] = @Other ,
                    [Othernote] = @Othernote ,
                    [BillNumber] = @BillNumber ,
                    [CustomsBondNo] = @CustomsBondNo ,
                    [BillDate] = @BillDate ,
                    [Amount] = @Amount ,
                    [NoticeNumber] = @NoticeNumber ,
                    [NoticeDate] = @NoticeDate ,
                    [ExpirationPaymentDate] = @ExpirationPaymentDate ,
                    [Exportingcompany] = @Exportingcompany ,
                    [General_Notes] = @General_Notes ,
                    [Transport_OrderID] = @Transport_OrderID ,
                    [ShiperName] = @ShiperName ,
                    [ShiperID] = @ShiperID ,
                    [ConsigneeName] = @ConsigneeName ,
                    [ConsigneeAddress] = @ConsigneeAddress ,
                    [ConsigneeID_Iqama] = @ConsigneeID_Iqama ,
                    [ConsigneeCity] = @ConsigneeCity ,
                    [ConsigneePhone] = @ConsigneePhone ,
                    [ConsigneeID] = @ConsigneeID ,
                    [BillShiper] = @BillShiper ,
                    [Express] = @Express ,
                    [BillConSiqner] = @BillConSiqner ,
                    [InsuranceService] = @InsuranceService ,
                    Note = @Note ,
                    ReceiptNo = @ReceiptNo ,
                    ReceverName2 = @ReceverName2 ,
                    ReceverAdd2 = @ReceverAdd2 ,
                    ReceverPhone2 = @ReceverPhone2 ,
                    VesselNO = @VesselNO  ,
					Bill_of_Lading = @Bill_of_Lading   ,
					export	=  @export	,
					import	= @import  
            WHERE   [ShipingID] = @ShipingID;
        END;
    ELSE
        BEGIN
            INSERT  INTO [dbo].[ShipingBill]
                    ( [ShipingID] ,
                      [Shiping_Bill_Date] ,
                      [Expected_date_arrival] ,
                      [Actual_arrival_date] ,
                      [Shipping_date] ,
                      [ShippingPortID] ,
                      [Place_Shipping] ,
                      [DeliveryNO] ,
                      [Delivery_Date] ,
                      [Customs_Declaration] ,
                      [CustomsDeclarationdate] ,
                      [Numberportservices] ,
                      [DateServives] ,
                      [Guarantee_check] ,
                      [Insurance] ,
                      [Customs_Duties] ,
                      [DateofPayment] ,
                      [ContainerType] ,
                      [ContainerKind] ,
                      [Container_Size] ,
                      [Other_Truck_note] ,
                      [Quantity] ,
                      [Exemption] ,
                      [Storage_Fees] ,
                      [Shipping_Cost] ,
                      [Wages_discharge] ,
                      [Bill] ,
                      [Certificate_Origin] ,
                      [Health_Certificate] ,
                      [SpecificationList] ,
                      [Other] ,
                      [Othernote] ,
                      [BillNumber] ,
                      [CustomsBondNo] ,
                      [BillDate] ,
                      [Amount] ,
                      [NoticeNumber] ,
                      [NoticeDate] ,
                      [ExpirationPaymentDate] ,
                      [Exportingcompany] ,
                      [General_Notes] ,
                      [Transport_OrderID] ,
                      [ShiperName] ,
                      [ShiperID] ,
                      [ConsigneeName] ,
                      [ConsigneeAddress] ,
                      [ConsigneeID_Iqama] ,
                      [ConsigneeCity] ,
                      [ConsigneePhone] ,
                      [ConsigneeID] ,
                      [BillShiper] ,
                      [Express] ,
                      [BillConSiqner] ,
                      [InsuranceService] ,
                      Note ,
                      ReceiptNo ,
                      ReceverName2 ,
                      ReceverAdd2 ,
                      ReceverPhone2 ,
                      VesselNO ,
					  [Bill_of_Lading] ,
					  export ,
					  import

	                )
            VALUES  ( @ShipingID ,
                      @Shiping_Bill_Date ,
                      @Expected_date_arrival ,
                      @Actual_arrival_date ,
                      @Shipping_date ,
                      @ShippingPortID ,
                      @Place_Shipping ,
                      @DeliveryNO ,
                      @Delivery_Date ,
                      @Customs_Declaration ,
                      @CustomsDeclarationdate ,
                      @Numberportservices ,
                      @DateServives ,
                      @Guarantee_check ,
                      @Insurance ,
                      @Customs_Duties ,
                      @DateofPayment ,
                      @ContainerType ,
                      @ContainerKind ,
                      @Container_Size ,
                      @Other_Truck_note ,
                      @Quantity ,
                      @Exemption ,
                      @Storage_Fees ,
                      @Shipping_Cost ,
                      @Wages_discharge ,
                      @Bill ,
                      @Certificate_Origin ,
                      @Health_Certificate ,
                      @SpecificationList ,
                      @Other ,
                      @Othernote ,
                      @BillNumber ,
                      @CustomsBondNo ,
                      @BillDate ,
                      @Amount ,
                      @NoticeNumber ,
                      @NoticeDate ,
                      @ExpirationPaymentDate ,
                      @Exportingcompany ,
                      @General_Notes ,
                      @Transport_OrderID ,
                      @ShiperName ,
                      @ShiperID ,
                      @ConsigneeName ,
                      @ConsigneeAddress ,
                      @ConsigneeID_Iqama ,
                      @ConsigneeCity ,
                      @ConsigneePhone ,
                      @ConsigneeID ,
                      @BillShiper ,
                      @Express ,
                      @BillConSiqner ,
                      @InsuranceService ,
                      @Note ,
                      @ReceiptNo ,
                      @ReceverName2 ,
                      @ReceverAdd2 ,
                      @ReceverPhone2 ,
                      @VesselNO	 ,
					  @Bill_of_Lading ,
					  @export  ,
					  @import
	                );
        END;

--endregion


